.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1.9rem 5rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 0;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  background: $button-grey;
  color: #fff;
  height: 6rem;
  box-sizing: border-box;
  font-family: $font;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:hover {
    opacity: 0.8;
  }

  &.light-grey {
    background: transparent;
    color: $button-light-grey;
    border: 1px solid $button-light-grey;
  }

  &.arrow-btn {
    position: relative;
    max-width: 362px;
    width: 100%;
    &:before {
      content: "";
      width: 40px;
      height: 6px;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      background: url("/img/arrow-right-w.svg") center;
    }
  }
}
.down-arrow {
  position: absolute;
  transform: rotate(90deg);
  bottom: 40px;
  right: 20px;
  img {
    width: 40px;
  }
}

.arrow-link {
  margin-top: 2rem;
  position: relative;
  display: inline-block;
  padding-right: 60px;
  &:hover {
    text-decoration: none;
  }
  &:before {
    content: "";
    width: 40px;
    height: 6px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url("/img/arrow-right-w.svg") center;
  }
}