.form {
  &__input {
    font: inherit;
    font-size: 1.8rem;
    padding: 1.8rem 0;
    border-radius: 0;
    background-color: transparent;
    border-bottom: solid #fff;
    border-width: 0 0 1px 0;
    margin-top: .6rem;
    line-height: 1;
    max-width: 250px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    color: #fff;
    margin-right: 5rem;
    &:nth-child(2) {
      margin-right: 0;
    }
    &::placeholder {
      color: #fff;
    }
  }

  .btn {
    margin-top: 4rem;
  }
}