.animation_container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: $color-dark;
  z-index: 2;
  width: 24rem!important;
  height: 18rem!important;

  @include max-screen(1024px) {
    width: 15rem!important;
    height: 13.5rem!important;
    left: 0;
    transform: translateX(0);
  }
}
#canvas,
#dom_overlay_container {
  width: 20rem!important;
  height: 15rem!important;
  @include max-screen(1024px) {
    width: 14rem !important;
    height: 10.5rem !important;
  }
}