.nav {
  position: absolute;
  z-index: 10;
  bottom: 7rem;
  right: 4rem;
  @include max-screen(1024px) {
    transition: .4s;
    transform: translateX(100%);
    text-align: center;
    position: fixed;
    padding: 4rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 10;

    &.visible {
      transform: translateX(0);
    }
  }

  &__list {
    margin-top: 20px;
    list-style: none;
    width: 210px;
    @include max-screen(1024px) {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 100px 0 0;
    }
  }

  &__item {
    display: block;
    margin-bottom: 3rem;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    @include max-screen(1024px) {
      color: $color-dark;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &.mobile {
    transition: .4s;
    transform: translateX(100%);
    text-align: center;
    position: fixed;
    padding: 4rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 10;

    &.visible {
      transform: translateX(0);
      color: $color-dark;
    }

    .nav__list {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 100px 0 0;
    }

    .nav__link {
      color: $color-dark;
    }
  }
}