.slick-arrow.slick-disabled {
  opacity: .25;
}

.slick-slider {
  margin-bottom: 0;
  padding-bottom: 13rem;
}
.left,
.right {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  user-select: none;
}
.left {
  left: 0;
}
.right {
  right: 0;
}