@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Regular.eot');
  src: url('/fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Merriweather-Regular.woff2') format('woff2'),
  url('/fonts/Merriweather-Regular.woff') format('woff'),
  url('/fonts/Merriweather-Regular.ttf') format('truetype'),
  url('/fonts/Merriweather-Regular.svg#Merriweather-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Bold.eot');
  src: url('/fonts/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Merriweather-Bold.woff2') format('woff2'),
  url('/fonts/Merriweather-Bold.woff') format('woff'),
  url('/fonts/Merriweather-Bold.ttf') format('truetype'),
  url('/fonts/Merriweather-Bold.svg#Merriweather-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura LT';
  src: url('/fonts/FuturaBT-Light.eot');
  src: url('/fonts/FuturaBT-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/FuturaBT-Light.woff2') format('woff2'),
  url('/fonts/FuturaBT-Light.woff') format('woff'),
  url('/fonts/FuturaBT-Light.ttf') format('truetype'),
  url('/fonts/FuturaBT-Light.svg#FuturaBT-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura LT';
  src: url('/fonts/FuturaLT-Book.eot');
  src: url('/fonts/FuturaLT-Book.eot?#iefix') format('embedded-opentype'),
  url('/fonts/FuturaLT-Book.woff2') format('woff2'),
  url('/fonts/FuturaLT-Book.woff') format('woff'),
  url('/fonts/FuturaLT-Book.ttf') format('truetype'),
  url('/fonts/FuturaLT-Book.svg#FuturaLT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}