h2 {
  font-size: 26px;
  font-family: $title-font;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

h4 {
  font-size: 22px;
  font-family: $title-font;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

.title-font {
  font-family: $title-font;
}

.text-small {
  font-size: 14px;
}