.text {
  &-snow {
    color: #fff;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-capitalize {
    text-transform: capitalize;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-bold {
    font-weight: bold;
  }

  &-regular {
    font-weight: 400;
  }

  &-grey {
    color: #bdbbaa;
  }
}

.float {
  &-left {
    float: left;
  }

  &-right {
    float: right;
  }
}

.clear-fix:after {
  content: "";
  clear: both;
  display: table;
}

.vertically-centered {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
