.container {
  width: 133rem;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  @include max-screen(1440px) {
    width: 120rem;
  }

  @include max-screen(1199px) {
    width: 80rem;
  }

  @include max-screen(1024px) {
    width: 77rem;
  }

  @include max-screen(768px) {
    width: 60rem;
  }

  @include max-screen(575px) {
    width: 38rem;
  }
}

