.page-footer {
  position: relative;
  z-index: 5;
  padding: 6rem 0 2rem;
  color: #fff;
  background: #35393e;
  .copyright {
    opacity: 0.6;
    margin-top: 2rem;
    text-align: justify;
  }

  .bottom-footer {
    @include max-screen(1024px) {
      margin: 0 auto;
      text-align: center;
      .form__input {
        width: calc(50% - 5rem);
        max-width: 100%;
      }
    }
    @include max-screen(1024px) {
      .form__input {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
    @include max-screen(1024px) {
      display: block;
    }
  }

  .partners-block {
    display: table;
    max-width: 630px;
    width: 100%;
    @include max-screen(1024px) {
      margin: 6rem auto 0;
    }
  }

  .partner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 1rem;
    &:nth-of-type(1) {
      padding: 0 2rem;
    }
  }
}
