@import 'libs/normalize';

@import 'common/fonts';
@import 'common/variables';
@import 'common/mediaqueries';
@import 'common/scaffolding';
@import 'layout/container';
@import 'common/utils';
@import 'common/typography';

@import 'layout/page-footer';

@import 'components/nav';
@import 'components/logo';
@import 'components/sandwich';
@import 'components/btn';
@import 'components/form';
@import 'components/slick-elements';


h2 + h3,
h2 + p.body-text {
  margin-top: 2rem;
}
.page-header {
  width: 100%;
  height: auto;
  padding: 0;
  padding-bottom: 56.25%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.hero-screen {
  width: 100%;
  height: auto;
  padding: 0;
  padding-bottom: 56.25%;
  position: relative;
  z-index: 0;
  &:before {
    content: "";
    opacity: 0.3;
    background-color: #35393e;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  @include max-screen(1024px) {
    padding-top: 10rem;
  }

  .absolute-centered {
    top: 60%;
  }

  .bg-video {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    @include max-screen(1024px) {
      display: none;
    }
  }

  .vertically-centered {
    transform: translateY(-30%);
  }
  img {
    max-width: 1040px;
    margin: 0 auto;
    width: 100%;
  }

  .btn {
    margin-top: 9rem;
    @include max-screen(1024px) {
      margin-top: 2rem;
    }
  }
}

section {
  padding: 12rem 0;

  .text-block {
    max-width: 950px;
    margin: 0 auto;

    h3 {
      margin: 3rem auto 0;
    }
  }
}


.experience {
  background-color: rgba(#bebbaa, 0.07);

  .experience-logo {
    width: 21rem;
    float: left;
    padding-right: 2rem;
    box-sizing: border-box;
    @include max-screen(768px) {
      float: none;
      padding-right: 0;
      margin: 0 auto;
    }
  }

  .text-block {
    width: calc(100% - 21rem);
    float: left;
    @include max-screen(768px) {
      float: none;
      margin-top: 3rem;
      width: 100%;
    }
  }
}

.experience-bottom {
  overflow: hidden;
}

.diamond-grid {
  margin-top: 10rem;
  width: 140%;
  margin-left: -20%;

  @include min-screen(1660px)  {
    max-width: 1660px;
    margin: 0 auto;
  }

  @include max-screen(1199px) {
    width: 100%;
    margin-left: 0;
  }

  @include max-screen(1024px) {
    max-width: 840px;
    margin: 0 auto;
  }

  @include max-screen(768px) {
    max-width: 400px;
    margin: 0 auto;
  }
}

.diamond-grid::after {
  content: "";
  display: block;
  clear: both;
}

.diamond-grid-item {
  width: 13%;
  padding-bottom: 13%;
  overflow: hidden;
  float: left;
  background: transparent;
  transform: rotate(45deg);
  margin: 3.5%;
  margin-top: -7%;
  cursor: pointer;

  .img-wrapper {
    transform: rotate(-45deg);
    position: absolute;
    top: -21.833%;
    left: -21.833%;
    right: -21.833%;
    bottom: -21.833%;
    background-size: 110%;
    background-position: center;
    &:before {
      content: "";
      opacity: 0.3;
      background-color: #35393e;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5) {
    margin-top: 5%;
  }

  &:nth-child(9n+6) {
    margin-left: 13.5%;
  }

  &:nth-child(5n+10) {
    clear:left;
  }

  &:nth-child(5n+10):last-of-type {
    margin-left: 38.25%;
  }

  .diamond-grid-inner {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    text-align: center;

    .vertically-centered {
      padding: 5px;
    }

    * {
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      word-break: break-word;
    }

    h2 {
      line-height: 1.23;
      letter-spacing: 4px;
    }
    p {
      opacity: .8;
      line-height: 1.79;
      height: 0;
      transition: .4s;
      overflow: hidden;
      margin-top: 8px;
    }
  }

  &:hover {
    .img-wrapper:before {
      opacity: 0.9;
    }

    .diamond-grid-inner p {
      height: 76px;
    }
  }

  &.clear {
    .img-wrapper {
      opacity: 0.1;
      background-color: #d8d8d8;
    }

    @include max-screen(1199px) {
      display: none;
    }
  }

  @include max-screen(1199px) {
    width: 21.5%;
    padding-bottom: 21.5%;
    margin: 5.9%;
    margin-top: -10%;

    &:nth-child(9n+7) {
      margin-left: 22.5%;
      margin-top: -10%;
    }
  }

  @include max-screen(1024px) {
    width: 30.5%;
    padding-bottom: 30.5%;
    margin: 9%;
    margin-top: 10%;

    &:nth-child(9n+7) {
      margin-left: 9%;
      margin-top: 10%;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      margin-top: 10%;
    }
  }

  @include max-screen(768px) {
    width: 70.5%;
    padding-bottom: 70.5%;
    float: none;
    margin: 35% auto 0;

    &:nth-child(9n+7) {
      margin-left: auto;
      margin-top: 35%;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      margin-top: 35%;
    }
  }
}

.news {
  padding: 12rem 0 0;
  position: relative;

  .slick-dots li button {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 2.5px;
    text-align: center;
    color: #bebbaa;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: solid 1px transparent;
  }

  .slick-dots li {
    width: auto;
    height: auto;
    margin: 0 30px;
    &.slick-active button {
      border-color: #bebbaa;
    }
  }
  .slick-dots li button:before {
    display: none;
  }

  .slick-dots {
    bottom: 0;
  }
  .news-slider {
    margin-bottom: 0;
    .img-wrapper {
      width: 50%;
      padding-bottom: 32%;
      @include max-screen(768px) {
        width: 100%;
        padding-bottom: 50%;
      }
    }
    .news-text {
      width: 50%;
      padding-left: 8rem;

      h4 {
        margin-top: 3rem;
      }

      p {
        margin-top: 3rem;
      }

      .btn {
        margin-top: 3rem;
      }

      @include max-screen(768px) {
        margin-top: 3rem;
        width: 100%;
        padding: 0;
      }
    }
    .news-block {
      margin-top: 8rem;

      @include max-screen(768px) {
        .float-left,
        .float-right {
          float: none;
        }
      }
    }
    .text-grey {
      letter-spacing: 2.8px;
    }
    .image-right {
      .news-text {
        padding-left: 0;
        padding-right: 8rem;
        @include max-screen(768px) {
          padding: 0;
        }
      }
    }
  }
}

.visit {
  padding: 0;
  .text-block {
    padding-bottom: 8rem;
  }

  .map-wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 50%;
    .map {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

    }
  }
}

.taste {
  padding: 8rem 0;

  .left,
  .right {
    @include max-screen(768px) {
      bottom: -50px;
    }
  }

  .left {
    @include max-screen(1024px) {
      bottom: -15px;
    }

    @include max-screen(768px) {
      position: relative;
      float: left;
    }
  }

  .right {
    @include max-screen(1024px) {
      bottom: -15px;
    }
    @include max-screen(768px) {
      position: relative;
      float: right;
    }
  }

  .main-slider {
    margin: 0;
    padding-bottom: 8rem;
    @include max-screen(1024px) {
      padding-bottom: 0;
    }
    .slide {
      text-align: center;
      .img-wrapper {
        padding-bottom: 50%;
        width: 100%;
      }
    }
  }

  .slider-title {
    position: relative;
    margin-top: 4rem;
    font-family: $title-font;
    letter-spacing: 4px;
    font-size: 18px;
    display: inline-block;
  }

  .slick-dots {
    width: calc(100% - 80px);
    left: 35px;
    overflow: scroll;
    padding-bottom: 5rem;
    @include max-screen(1199px) {
      width: calc(100% - 40px);
      left: 20px;
    }
    @include max-screen(1024px) {
      display: none;
    }
  }

  .slick-dots li {
    width: auto;
    height: auto;
    margin: 0;
    a {
      position: relative;
      color: #fff;
      padding: 0 2rem;
      display: inline-block;
      float: left;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: 2.5px;
      @include max-screen(1199px) {
        padding: 0 9px;
      }
    }
    &.slick-active a:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -40px;
      display: inline-block;
      width: 100%;
      height: 1px;
      background: #fff;

    }
  }

  .slick-dots {
    bottom: -40px;
  }
}

.more {
  padding: 0;
  img {
    max-width: 30rem;
    margin-top: 10rem;
  }
  .btn {
    position: relative;
    z-index: 4;
    display: block;
    margin: 10rem auto 0;
    letter-spacing: 2.7px;
    max-width: 400px;
    height: auto;
  }
}
.grid {
  margin-top: 4rem;
}
.grid-item {
  width: 33.3%;
  display: inline-block;
  float: left;
  margin-bottom: 10px;
  @include max-screen(1024px) {
    width: 50%;
  }
  @include max-screen(575px) {
    width: 100%;
  }

  &:nth-child(1) {
    margin-top: 20%;
    @include max-screen(575px) {
      margin-top: 0;
    }
  }
  &:nth-child(3) {
    margin-top: 10%;
    @include max-screen(1024px) {
      margin-top: 0;
    }
  }

  img {
    padding: 3rem;
    box-sizing: border-box;
    width: 100%;
    @include max-screen(1024px) {
      padding: 1.5rem;
    }
  }
}

.grid-gutter {
  width: 4%;
}

.parallax-container {
  width: 100%;
  padding-bottom: 36%;
  position: relative;
  .top {
    position: absolute;
    bottom: -200px;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
  }
  .mid {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
  }
  .bottom {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
  }
}


.pop-up-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 20;
  left: 0;
  right: 0;
  background: rgba($color-dark, 0.3);
  display: none;

  h5 {
    margin-top: 2rem;
    text-align: center;
  }

  .popup-container {
    padding: 6rem 4rem;
    background: #35393e;
    top: 50%;
    max-width: 680px;
    width: 100%;

    .close-button:before {
      content: "x";
      font-size: 3rem;
      color: #fff;
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
    }

    .form {
      margin-top: 2rem;
      .form__input {
        width: 100%;
        margin-right: 0;
        max-width: 100%;
      }
    }

    .btn {
      margin-top: 4rem;
    }
  }
}

.socials {
  position: absolute;
  top: 0;
  right: 0;
  @include max-screen(1024px) {
    position: relative;
    display: inline-block;
  }
  a {
    display: inline-block;
    float: left;
    margin: 0 13px;
  }
}

.response {
  margin-top: 10px;
  color: red;
}